__Importing the necessary library and also generating our dataset from the internet__

In [2]:
import pandas as pd 
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [3]:
#assigning it to a variable called chipo
chipo = pd.read_csv(url, sep = '\t')

In [4]:
#Step 4. How many products cost more than $10.00?
prices = [float(value[1:]) if isinstance(value, str) else value for value in chipo.item_price]
#chipo.item_price = prices
#reassigning the formulated column
chipo.item_price = prices
#deleting the dupliactes in the item_name and quantity
chipo_filtered = chipo.drop_duplicates(['item_name', 'quantity', 'choice_description'])
#select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo_filtered['quantity'] == 1]
chipo_one_prod
# chipo_one_prod[chipo_one_prod['item_price']>10].item_name.nunique()
# chipo_one_prod[chipo_one_prod['item_price']>10]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
...,...,...,...,...,...
4602,1827,1,Barbacoa Burrito,[Tomatillo Green Chili Salsa],9.25
4607,1829,1,Steak Burrito,"[Tomatillo Green Chili Salsa, [Rice, Cheese, S...",11.75
4610,1830,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4611,1830,1,Veggie Burrito,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.25
4612,1831,1,Carnitas Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",9.25

In [5]:
#5. What is the price of each item?
# delete the duplicates in item_name and quantity
# chipo_filtered = chipo.drop_duplicates(['item_name','quantity'])
chipo[(chipo['item_name'] == 'Chicken Bowl') & (chipo['quantity'] == 1)]
# select only the products with quantity equals to 1
chipo_one_prod = chipo_filtered[chipo_filtered.quantity == 1]

# select only the item_name and item_price columns
price_per_item = chipo_one_prod[['item_name', 'item_price']]

# sort the values from the most to less expensive
price_per_item.sort_values(by = "item_price", ascending = False).head(20)

                item_name  item_price
4313     Steak Salad Bowl       11.89
1571     Steak Salad Bowl       11.89
1816     Steak Salad Bowl       11.89
1311     Steak Salad Bowl       11.89
3749  Carnitas Salad Bowl       11.89
2439     Steak Salad Bowl       11.89
3350     Steak Salad Bowl       11.89
2804     Steak Salad Bowl       11.89
2401     Steak Salad Bowl       11.89
749      Steak Salad Bowl       11.89
606      Steak Salad Bowl       11.89
1326  Barbacoa Salad Bowl       11.89
2957     Steak Salad Bowl       11.89
3120     Steak Salad Bowl       11.89
1159     Steak Salad Bowl       11.89
3493     Steak Salad Bowl       11.89
1590     Steak Salad Bowl       11.89
4239  Carnitas Salad Bowl       11.89
1505     Steak Salad Bowl       11.89
3546  Barbacoa Salad Bowl       11.89

In [6]:
#6. Sort by the name of the item
chipo.item_name.sort_values()
#or
chipo.sort_values(by = 'item_name')

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

In [7]:
#7. What was the quantity of the most expensive item ordered?
chipo.sort_values(by = 'item_price', ascending = True).head(1)

      order_id  quantity      item_name choice_description  item_price
1140       471         1  Bottled Water                NaN        1.09

In [8]:
#8. How many times was a Veggie Salad Bowl ordered?
chipo_salad = chipo[chipo.item_name == 'Veggie Salad Bowl']
len(chipo_salad)

18

In [9]:
#9. How many times did someone order more than one Canned Soda?
chipo_drink_steak_bowl = chipo[(chipo.item_name == 'Canned Soda') & (chipo.quantity > 1)]
len(chipo_drink_steak_bowl)

20