__Importing the necessary library__

In [1]:
import pandas as pd

In [2]:
#Importing our datasets and assigning it to a variable
baby_names = pd.read_csv('https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv')
baby_names.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1016395 entries, 0 to 1016394
Data columns (total 7 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Unnamed: 0  1016395 non-null  int64
 1   Id          1016395 non-null  int64
 2   Name        1016395 non-null  object
 3   Year        1016395 non-null  int64
 4   Gender      1016395 non-null  object
 5   State       1016395 non-null  object
 6   Count       1016395 non-null  int64
dtypes: int64(4), object(3)
memory usage: 54.3+ MB

In [3]:
#Seeing the first 10 entries
baby_names.head(10)

   Unnamed: 0     Id      Name  Year Gender State  Count
0       11349  11350      Emma  2004      F    AK     62
1       11350  11351   Madison  2004      F    AK     48
2       11351  11352    Hannah  2004      F    AK     46
3       11352  11353     Grace  2004      F    AK     44
4       11353  11354     Emily  2004      F    AK     41
5       11354  11355   Abigail  2004      F    AK     37
6       11355  11356    Olivia  2004      F    AK     33
7       11356  11357  Isabella  2004      F    AK     30
8       11357  11358    Alyssa  2004      F    AK     29
9       11358  11359    Sophia  2004      F    AK     28

In [ ]:
#5. Delete the column 'Unnamed: 0' and 'Id'
del baby_names['Unnamed: 0']
#I have deleted the first time, so when I run it for the second time, it was bring this erro that the columns does not exist because they have been deleted already

KeyError: 'Unnamed: 0'

In [9]:
#printing the df to confirm
del baby_names['Id']
baby_names

            Name  Year Gender State  Count
0           Emma  2004      F    AK     62
1        Madison  2004      F    AK     48
2         Hannah  2004      F    AK     46
3          Grace  2004      F    AK     44
4          Emily  2004      F    AK     41
...          ...   ...    ...   ...    ...
1016390     Seth  2014      M    WY      5
1016391  Spencer  2014      M    WY      5
1016392     Tyce  2014      M    WY      5
1016393   Victor  2014      M    WY      5
1016394   Waylon  2014      M    WY      5

[1016395 rows x 5 columns]

In [10]:
#6. Are there more male or female names in the dataset?
baby_names.Gender.value_counts()

Gender
F    558846
M    457549
Name: count, dtype: int64

In [11]:
#7. Group the dataset by name and assign to names
#deleting the year column
del baby_names['Year']
names = baby_names.groupby('Name').sum()
#printing the first 5 observations
names.head(5)
#printing its size
names.shape
# sort it from the biggest value to the smallest one
names.sort_values("Count", ascending = 0).head()

,Gender,State,Count
Name,,,
Jacob,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,AKAKAKAKAKAKAKAKAKAKAKALALALALALALALALALALALAR...,242874
Emma,FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF...,AKAKAKAKAKAKAKAKAKAKAKALALALALALALALALALALALAR...,214852
Michael,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMFF...,AKAKAKAKAKAKAKAKAKAKAKALALALALALALALALALALALAR...,214405
Ethan,MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM...,AKAKAKAKAKAKAKAKAKAKAKALALALALALALALALALALALAR...,209277
Isabella,FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF...,AKAKAKAKAKAKAKAKAKAKAKALALALALALALALALALALALAR...,204798

In [12]:
#8. How many different names exist in the dataset?
len(names)

17632

In [13]:
#What is the name with most occurrences?
names.Count.idxmax()

'Jacob'

In [14]:
#10. How many different names have the least occurrences?
len(names[names.Count == names.Count.min()])

2578

In [15]:
#11. What is the median name occurrence?
names[names.Count == names.Count.median()]

           Gender             State  Count
Name
Aishani   FFFFFFF    CACACACACAILNJ     49
Alara    FFFFFFFF  CACACAFLNYNYNYTX     49
Alysse   FFFFFFFF  CACACAMINYTXTXTX     49
Ameir    MMMMMMMM  CAMIMIMIMIMINYOH     49
Anely    FFFFFFFF  CACACACACACACACA     49
...           ...               ...    ...
Sriram    MMMMMMM    CACACACACACATX     49
Trinton  MMMMMMMM  FLLAOKTXTXTXTXTX     49
Vita      FFFFFFF    CACACACACANYNY     49
Yoni     MMMMMMMM  CACACACACACAFLFL     49
Zuleima   FFFFFFF    AZCACACACACACA     49

[66 rows x 3 columns]

In [18]:
#12. What is the standard deviation of names?
names.Count.std()

11006.069467891111

In [19]:
#13. Get a summary with the mean, min, max, std and quartiles.
names.describe()

               Count
count   17632.000000
mean     2008.932169
std     11006.069468
min         5.000000
25%        11.000000
50%        49.000000
75%       337.000000
max    242874.000000